---
import { getCollection } from "astro:content";
import Job from "../components/Job.astro";
import Program from "../components/Program.astro";
import Project from "../components/Project.astro";
import { getJobs, getPrograms } from "../queries";
import Page from "../layouts/Page.astro";
import Letterhead from "../components/Letterhead/Letterhead.astro";

const skills = await getCollection("skills");
const jobs = await getJobs();
const programs = await getPrograms();
const projects = (await getCollection("projects")).sort(
    (a, b) => (b.data.priority ?? 0) - (a.data.priority ?? 0)
);
---

<Page>
    <header>
        <Letterhead />
        <h1>Arden Sinclair</h1>
        <ul class="contact">
            <li><a href="mailto:general@ardensinclair.com">general@ardensinclair.com</a></li>
            <li><a href="https://github.com/Arden144">github.com/arden144</a></li>
            <li><a href="tel:13067375563">(306) 737-5563</a></li>
            <li>Vancouver, BC</li>
        </ul>
    </header>
    <section>
        <h3>Technical Skills</h3>
        <ul>{skills.map(async entry => {
            const { Content } = await entry.render();
            return (
                <li class="skill">
                    <b>{entry.data.category}:</b>
                    <Content />
                </li>
            )
        })}</ul>
    </section>
    <section>
        <h3>Technical Projects</h3>
        {projects.map(project => <Project project={project} />)}
    </section>
    <section>
        <h3>Work Experience</h3>
        {jobs.map(job => <Job job={job} />)}
    </section>
    <section>
        <h3>Education</h3>
        {programs.map(program => <Program program={program} />)}
    </section>
</Page>

<style>
    .contact {
        padding: 0;
        display: flex;
        gap: 0.3rem;

        & > li {
            list-style-type: "| ";
            list-style-position: inside;

            &:first-child {
                list-style-type: none;
            }
        }
    }

    .skill {
        display: flex;

        & > :global(ul) {
            list-style: none;
            display: inline-flex;
            flex-wrap: wrap;
            padding-left: 0.5rem;
            margin-bottom: 0;

            & > :global(li) {
                padding-right: 0.25rem;

                &:not(:last-child)::after {
                    content: ";";
                }
            }
        }
    }
</style>
