---
import type { Program } from "../queries";

interface Props {
    program: Program;
}

const { program } = Astro.props;
const { Content } = await program.render();
---

<div>
    <div class="info">
        <h5>{program.data.school}</h5>
        <h5>{program.dates}</h5>
        <h6>{program.data.program}</h6>
        <h6>{program.data.location}</h6>
    </div>
    <Content />
</div>

<style>
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info > :nth-child(2n + 1) {
        justify-self: start;
    }

    .info > :nth-child(2n) {
        justify-self: end;
    }
</style>
