---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<div>
	<div class="info">
		<h3>{project.data.name}</h3>
		<h4>{project.data.language}</h4>
	</div>
	<Content />
</div>

<style>
	.info {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.info > :nth-child(2n + 1) {
		justify-self: start;
	}

	.info > :nth-child(2n) {
		justify-self: end;
	}

	h4 {
		font-weight: normal;
		font-style: italic;
	}
</style>
