---
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { name, languages, link } = project.data;
const { Content } = await project.render();

const cleanURL = (url: URL): string => url.hostname + url.pathname
---

<div>
    <h5>{name}</h5>
    {link ? <h6><a href={link}>{cleanURL(link)}</a></h6> : <div></div>}
    <h6>{languages}</h6>
    
</div>
<Content />

<style>
    div {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }
</style>
